{% extends 'login/base.html' %}

{% block content %}
{% load custom_filter %}
{% load humanize %}
<div class="container-fluid">
    <div class="header position-relative d-flex align-items-center">
        <div class="d-flex align-items-center w-100">
            <h3 class="card-title dark-text fw-normal me-3">Members</h3>
            <div class="tools">
                <button type="button" class="btn btn-primary rounded-xl btn-sm" id='add_new'><i class="fa fa-plus"></i> New Member</button>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="table-container-list">

            <table class="table table-sm table-responsive table-hover" style="width:100%" id="member-list">
                <thead class="">
                    <tr class="">
                        <th class="text-center dark-text">#</th>
                        <th class="text-center dark-text">First Name</th>
                        <th class="text-center dark-text">Last Name</th>
                        <th class="text-center dark-text">Email</th>
                        <th class="text-center dark-text">Institute</th>
                        <th class="text-center dark-text">Membership Start</th>
                        <th class="text-center dark-text">Membership End</th>
                        <th class="text-center dark-text">Author</th>
                        <th class="text-center dark-text">Authorship Start</th>
                        <th class="text-center dark-text">Authorship End</th>
                        <th class="text-center dark-text">{% if user|has_group:"admin" %} Actions {% else %} Details {% endif %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for member in members %}
                    <tr>
                        <td class="align-center text-center light-text">{{ forloop.counter }}</td>
                        <td class="align-center text-center light-text">{{ member.name }}</td>
                        <td class="align-center text-center light-text">{{ member.surname }}</td>
                        <td class="align-center text-center light-text">{{ member.primary_email }}</td>
                        <td class="align-center text-center light-text">{{ member.institute.name }}</td>
                        <td class="align-center text-center light-text">{{ member.membership_start|date:"Y-m-d" }}</td>
                        <td class="align-center text-center light-text">{{ member.membership_end|date:"Y-m-d" }}</td>
                        <td class="align-center text-center light-text">{{ member.is_author|yesno:"Yes,No" }}</td>
                        <td class="align-center text-center light-text">{{ member.authorship_start|date:"Y-m-d" }}</td>
                        <td class="align-center text-center light-text">{{ member.authorship_end|date:"Y-m-d" }}</td>
                        <td class="align-center text-center light-text d-flex flex-wrap justify-content-around">
                            <div>
                                {% if user|has_group:"admin" %}
                                    <button class="btn btn-sm selected edit-data" data-id="{{ member.pk }}" title="Edit member">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                {% endif %}
                                <button type="button" class="btn btn-bg-dark btn-sm item-data {% if not user|has_group:'admin' %} widerIcon {% endif %}" data-id="{{ member.pk }}" title="Member information">
                                    <i class="fa fa-info-circle"></i>
                                </button>
                                {% if user|has_group:"admin" %}
                                    <button class="btn btn-sm highlight-color delete-data mt-1" data-id="{{ member.pk }}" title="Delete member">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}

{% block ScriptBlock %}
<script>
    $(function() {
        $('#add_new').click(function() {
            // Create the header for the modal
            let headerDiv = document.createElement('div');
            headerDiv.classList.add("modal-header", "d-flex", "align-items-center", "justify-content-between", "border-0");

            // Title of the modal with icon
            let titleDiv = document.createElement('div');
            titleDiv.classList.add('d-flex', 'align-items-center');
            let addIcon = document.createElement('i');
            addIcon.classList.add('fa', 'fa-plus', 'me-2');
            let title = document.createElement('h5');
            title.classList.add('modal-title', 'dark-text', 'm-0');
            title.innerText = "New Member";
            titleDiv.appendChild(addIcon);
            titleDiv.appendChild(title);

            // Close button for the modal header
            let closeButton = document.createElement('button');
            closeButton.classList.add('btn-close');
            closeButton.setAttribute('data-bs-dismiss', 'modal');
            closeButton.setAttribute('aria-label', 'Close');
            headerDiv.appendChild(titleDiv);
            headerDiv.appendChild(closeButton);

            // Open the modal with the header content
            uni_modal(headerDiv, '{% url "manage-member" %}', 'modal-md');
            // Ensure the footer is cleared and prepared
            let modalFooter = document.querySelector('.modal-footer');
            modalFooter.innerHTML = ''; // Clear the footer
            if(modalFooter.classList.contains('hidden')){
                modalFooter.classList.remove('hidden');
            }

            // Create and append the "Save" button to the footer
            let submitButton = document.createElement('button');
            submitButton.type = "button";
            submitButton.classList.add('btn', 'btn-primary');
            submitButton.innerText = "Save";
            // Handle form submission when Save is clicked
            submitButton.addEventListener('click', function() {
                $('#uni_modal form').submit();
            });
            // Append submit button to the modal footer
            modalFooter.appendChild(submitButton);
        });
    });
</script>
{% endblock ScriptBlock %}