{% extends 'login/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        {% if not user.is_authenticated %}
        <div class="col-12 d-flex justify-content-center align-items-center" style="height: 60vh;">
            <div class="text-center">
                <p class="fw-light fs-5">This application helps manage members of the collaboration.</p>
                <p class="fw-light fs-5">Only authorized users can log in to view and manage member information.</p>
                <div class="col-12 text-center mb-4">
                    <p class="fw-light">
                        Do you want to know more?
                        Check the user manual <a href="{% static 'LST_LAMA_manual.pdf' %}" class="btn btn-sm btn-outline-primary shadow ms-2" download>Download User Manual</a>
                    </p>
                </div>
                <br/>
                <a href="{% url 'login' %}" class="btn btn-primary p-4 fs-5 font-weight-bold rounded shadow">Log In To Get Started!</a>
            </div>
        </div>
        {% endif %}

        {% if user.is_authenticated %}
        <!-- Welcome Text -->
        <div class="col-12 text-center">
            <h1>Welcome to LAMA!</h1>
            <p><strong>LST Administration of Members and Authors</strong></p>
            <div class="col-12 text-center mb-4">
                <p class="fw-light">
                    Need help?
                    Check the user manual <a href="{% static 'LST_LAMA_manual.pdf' %}" class="btn btn-sm btn-outline-primary shadow ms-2" download>Download User Manual</a>
                </p>
            </div>
        </div>

        <!-- Summary Cards -->
        <div class="col-12">
            <div class="row justify-content-center dashboard-home-row dashboard-home-row-3">
                <!-- First Row with 3 Cards -->
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="card shadow dashboard-home-card">
                        <div class="card-header custom-card-header text-center">
                            <i class="fa-solid fa-users" style="color: #e392fe;"></i> Members
                        </div>
                        <div class="card-body text-center">
                            <p class="card-text"><strong class="large-bold-number">{{ total_members }}</strong></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="card shadow dashboard-home-card">
                        <div class="card-header custom-card-header text-center">
                            <i class="fa-solid fa-sack-dollar" style="color: #ffaa00;"></i> Members Contributing to CF
                        </div>
                        <div class="card-body text-center">
                            <p class="card-text"><strong class="large-bold-number">{{ cf }}</strong></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="card shadow dashboard-home-card">
                        <div class="card-header custom-card-header text-center">
                            <i class="fa-regular fa-pen-to-square" style="color: #77bb41;"></i> Authors
                        </div>
                        <div class="card-body text-center">
                            <p class="card-text"><strong class="large-bold-number">{{ total_authors }}</strong></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center dashboard-home-row dashboard-home-row-2">
                <div class="col-lg-5 col-md-6 col-sm-6 mb-4">
                    <div class="card shadow dashboard-home-card dashboard-card-compact">
                        <div class="card-header custom-card-header text-center">
                            <i class="fa-solid fa-book-open" style="color: #e32400;"></i> Duties with vacancies
                        </div>
                        <div class="card-body text-center">
                            <p class="card-text"><strong class="large-bold-number">{{ available_duties }}</strong></p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-6 col-sm-6 mb-4">
                    <div class="card shadow dashboard-home-card dashboard-card-compact">
                        <div class="card-header custom-card-header text-center">
                            <i class="fa-solid fa-book-open" style="color: #77bb41;"></i> Filled duties
                        </div>
                        <div class="card-body text-center">
                            <p class="card-text"><strong class="large-bold-number">{{ total_duties }}</strong></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center dashboard-home-row dashboard-home-row-3">
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="card shadow dashboard-home-card">
                        <div class="card-header custom-card-header text-center">
                            <i class="fa-solid fa-sack-dollar" style="color: #ffaa00;"></i> CF Members without a duty
                        </div>
                        <div class="card-body text-center">
                            <p class="card-text"><strong class="large-bold-number">{{ cf_no_duty }}</strong></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="card shadow dashboard-home-card">
                        <div class="card-header custom-card-header text-center">
                            <i class="fa-solid fa-arrow-right-from-bracket" style="color: #e32400;"></i> Non-members leaving Authorship within 6 Months
                        </div>
                        <div class="card-body text-center">
                            <p class="card-text"><strong class="large-bold-number">{{ non_members_with_authorship }}</strong></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="card shadow dashboard-home-card">
                        <div class="card-header custom-card-header text-center">
                            <i class="fa-solid fa-arrow-right-to-bracket" style="color: #77bb41;"></i> Members becoming Authors within 6 Months
                        </div>
                        <div class="card-body text-center">
                            <p class="card-text"><strong class="large-bold-number">{{ members_becoming_authors }}</strong></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center dashboard-home-row dashboard-home-row-2">
                <div class="col-lg-5 col-md-6 col-sm-6 mb-4">
                    <div class="card shadow dashboard-home-card">
                        <div class="card-header custom-card-header text-center">
                            <i class="fa-solid fa-arrow-right-from-bracket" style="color: #e32400;"></i> Non-CF Members Leaving Authorship within 6 Months
                        </div>
                        <div class="card-body text-center">
                            <p class="card-text"><strong class="large-bold-number">{{ non_cf_members_leaving_authorship }}</strong></p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-6 col-sm-6 mb-4">
                    <div class="card shadow dashboard-home-card">
                        <div class="card-header custom-card-header text-center">
                            <i class="fa-solid fa-arrow-right-from-bracket" style="color: #e32400;"></i> CF Members Leaving Authorship within 6 Months
                        </div>
                        <div class="card-body text-center">
                            <p class="card-text"><strong class="large-bold-number">{{ cf_members_leaving_authorship }}</strong></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center dashboard-home-row dashboard-home-row-3">
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="card shadow dashboard-home-card">
                        <div class="card-header custom-card-header text-center">
                            <i class="fa-regular fa-flag" style="color: #006d8f;"></i> Countries
                        </div>
                        <div class="card-body text-center">
                            <p class="card-text"><strong class="large-bold-number">{{ total_countries }}</strong></p>
                        </div>
                    </div>
                </div>
                <!-- Groups Card -->
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="card shadow dashboard-home-card dashboard-card-expandable">
                        <div class="card-header custom-card-header text-center">
                            <i class="fa-solid fa-people-roof"></i> Groups
                        </div>
                        <div class="card-body text-center">
                            <div class="dashboard-card-summary">
                                <p class="card-text dashboard-card-summary-number">
                                    <strong class="large-bold-number">{{ total_groups }}</strong>
                                </p>
                                <button class="fa-solid fa-chevron-down clickable-icon dashboard-card-summary-toggle" id="toggleGroups" style="cursor: pointer;" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#groupsBreakdown" aria-expanded="false" aria-controls="groupsBreakdown">
                                </button>
                            </div>
                            <!-- Collapsible Content -->
                            <div class="collapse mt-3 dashboard-card-breakdown" id="groupsBreakdown">
                                {% for country, count in groups_per_country.items %}
                                    <p class="card-text large mb-0">{{ country }}: <strong class="bold-number2">{{ count }}</strong></p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Institutes Card -->
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="card shadow dashboard-home-card dashboard-card-expandable">
                        <div class="card-header custom-card-header text-center">
                            <i class="fa-solid fa-building-columns"></i> Institutes
                        </div>
                        <div class="card-body text-center">
                            <div class="dashboard-card-summary">
                                <p class="card-text dashboard-card-summary-number">
                                    <strong class="large-bold-number">{{ total_institutes }}</strong>
                                </p>
                                <button class="fa-solid fa-chevron-down clickable-icon dashboard-card-summary-toggle" id="toggleInstitutes" style="cursor: pointer;" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#institutesBreakdown" aria-expanded="false" aria-controls="institutesBreakdown">
                                </button>
                            </div>
                            <!-- Collapsible Content -->
                            <div class="collapse mt-3 dashboard-card-breakdown" id="institutesBreakdown">
                                {% for country, count in institutes_per_country.items %}
                                    <p class="card-text large mb-0">{{ country }}: <strong class="bold-number2">{{ count }}</strong></p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>


<script>
    $(document).ready(function () {
        const toggleGroupsButton = document.getElementById('toggleGroups')
        const toggleInstitutesButton = document.getElementById('toggleInstitutes')

        // Handle Institutes toggle
        $('#institutesBreakdown').on('shown.bs.collapse', function () {
            $('#toggleInstitutes').addClass('rotated'); // Expand (Arrow up)
        }).on('hidden.bs.collapse', function () {
            $('#toggleInstitutes').removeClass('rotated'); // Collapse (Arrow down)
        });

        // Handle Groups toggle
        $('#groupsBreakdown').on('shown.bs.collapse', function () {
            $('#toggleGroups').addClass('rotated'); // Expand (Arrow up)
        }).on('hidden.bs.collapse', function () {
            $('#toggleGroups').removeClass('rotated'); // Collapse (Arrow down)
        });
    });
</script>
{% endblock content %}
