<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary of authorships</title>
</head>
<body>
    <h2>Summary of authorships</h2>

    {% if count_starting_today > 0 %}
        <h4>Authorships starting today</h4>
        <ul>
            {% for member in starting_today %}
                <li>
                    {{member.member.name}} {{member.member.surname}} | START DATE: {{member.start_date}}
                </li>
            {% endfor %}
        </ul>
        <p>Total authors starting today: <strong>{{count_starting_today}}</strong></p>
    {% else %}
        <p>No authors start today.</p>
    {% endif %}

    <hr>

    <h4>Ending authorships</h4>

    <p>List of authors:</p>

    <ul>
        {% for member in list %}
            <li>
                {% if member.member_id in added_ids_set %}
                    {% if not member.member.is_active_cf %}
                        {{member.member.name}} {{member.member.surname}} | END DATE: {{member.end_date}} [NEW] (No CF)
                    {% elif not member.member.has_active_duty %} 
                        {{member.member.name}} {{member.member.surname}} | END DATE: {{member.end_date}} [NEW] (No Duty)
                    {% else %}
                        {{member.member.name}} {{member.member.surname}} | END DATE: {{member.end_date}} [NEW]
                    {% endif %}
                {% else %}
                    {{member.member.name}} {{member.member.surname}} | END DATE: {{member.end_date}}
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <p>Total authors on the list: <strong>{{count_list}}</strong></p>

    <p>Number of added authors: <strong>{{count_added}}</strong></p>
    <p>Number of removed authors: <strong>{{count_removed}}</strong></p>
    {% if count_removed > 0 %}
        <p>List of removed authors: </p>
        <ul>
            {% for member in removed_members %}
                <li>
                    {{member.member.name}} {{member.member.surname}} | END DATE: {{member.end_date}}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <p><strong>{% now "d-m-Y" %}</strong></p>
</body>
</html>