<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Members ending membership today</title>
</head>
<body>
  <h4>Members ending membership today</h4>

  <p>List of members:</p>

  <ul>
    {% for period in periods %}
      <li>
        {% if not period.member.is_active_cf %}
          {{ period.member.name }} {{ period.member.surname }} | END DATE: {{ period.end_date }} (No CF)
        {% elif not period.member.has_active_duty %}
          {{ period.member.name }} {{ period.member.surname }} | END DATE: {{ period.end_date }} (No Duty)
        {% else %}
          {{ period.member.name }} {{ period.member.surname }} | END DATE: {{ period.end_date }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  <p>Total members on the list: <strong>{{ count }}</strong></p>

  <p><strong>{% now "d-m-Y" %}</strong></p>
</body>
</html>
