<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Summary of memberships</title>
</head>
<body>
  <h2>Summary of memberships</h2>

  {% if count_starting_today > 0 %}
    <h4>Memberships starting today</h4>
      <ul>
          {% for member in starting_today %}
              <li>
                  {{member.member.name}} {{member.member.surname}} | START DATE: {{member.start_date}}
              </li>
          {% endfor %}
      </ul>
      <p>Total members starting today: <strong>{{count_starting_today}}</strong></p>
  {% else %}
      <strong>No members starting today.</strong>
  {% endif %}

  {% if count %}
    <hr>

    <h4>Memberships ending today</h4>

    <p>List of members:</p>

    <ul>
      {% for period in periods %}
        <li>
          {{ period.member.name }} {{ period.member.surname }} | END DATE: {{ period.end_date }}
        </li>
      {% endfor %}
    </ul>
    <p>Total members on the list: <strong>{{ count }}</strong></p>
  {% else %}
      <strong>No members ending today.</strong>
  {% endif %}

  <p><strong>{% now "d-m-Y" %}</strong></p>
</body>
</html>
